* {
	margin:0;padding:0;
}
#wrapper {
	margin: 0 auto;
	width:640px;
	/*
	outline:1px solid red;
	*/
	background-color: #eee;
	padding:10px;
	min-height: 550px;
	position: relative;
}
#wrapper nav {
	margin-bottom: 10px;
	/*
	outline: 1px solid blue;
	*/
	background-color: #888;
	height: 40px;
}
#wrapper nav ul {
	list-style-type: none;

}
#wrapper nav ul li {
	/*
	outline: 1px solid red;
	*/
	float:left;
	text-align: center;
}
#wrapper nav ul li a {
	color: white;
	display: inline-block;
	text-decoration: none;
	line-height: 40px;
	width:120px;
	/*	
	outline: 1px solid green;
	*/
	background-color: #777;
}
#wrapper nav ul li:hover a {
	color: yellow;
	background-color: #666;
}

#wrapper h3 {
	clear:left;
	text-align: center;
	margin:20px 0;
}
.tytul {
	background-color: white;
	line-height: 40px;
	padding-left: 10px;
	margin-top:20px;
}
footer {
	background-color: #666;
	text-align: center;
	line-height: 50px;/*
	position: absolute;
	bottom: 10px;
	*/
	margin-top:20px;
	color: white;
}







